export(msmediate)
export(vartest.msmediate)
importFrom(Matrix,bdiag)
importFrom(lme4,VarCorr)
importFrom(lme4,fixef)
importFrom(lme4,glmer)
importFrom(lme4,ranef)
importFrom(statmod,gauss.quad.prob)
importFrom(stats,as.formula)
importFrom(stats,binomial)
importFrom(stats,coef)
importFrom(stats,fitted)
importFrom(stats,lm)
importFrom(stats,model.matrix)
importFrom(stats,pnorm)
